.button {
  border-radius: 150px;
  font-family: $sans;
}

.button.primary {
  background: $red;
  &:hover {
    background: $darkRed;
  }
}

.button.secondary {
  background: none;
  border: 1px solid $red;
  color: $red;
  &:hover {
    color: white;
    background: $darkRed;
    border-color: $darkRed;
  }
}

.button.has-arrow {
  &:before {
    font-family: FontAwesome;
    position: absolute;
    color: white;
    opacity: 0;
    margin-top: 4px;
    font-size: 12px;
    @include animate(all, 400ms);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.button.has-arrow.arrow-right:before {
  content: "\f054";
  left: 60%;
}

.button.has-arrow.arrow-right:hover {
  &:before {
    left: 82%;
  }
}

.button.has-arrow.arrow-left:before {
  content: "\f053";
  right: 60%;
}

.button.has-arrow.arrow-left:hover {
  &:before {
    right: 82%;
  }
}

.medium {
  padding: 16px 46px;
  min-width: 192px;
}

.small {
  padding: 10px 29px !important;
  min-width: 110px;
  font-size: 16px !important;
}

.button.medium.secondary {
  margin-right: 16px;
}

.button.small.secondary {
  margin-right: 10px;
}

.btn-4 {
  border-radius: 50px;
  border: 3px solid white;
  color: white;
  overflow: hidden;
}

.btn-4:active {
  border-color: #17954c;
  color: #17954c;
}

.btn-4:hover {
  background: #24b662;
}

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.download {
  color: $red;
  i {
    font-size: 10px;
  }
}
.chat{
  i{
    font-size: 24px;
    margin-right: 10px;
    line-height: 0;
  }
}
/*
.button.chat:before{
  content:"";
  background:transparent url(../images/icon-chat.png) no-repeat 0 0;
  display:inline-block;
  width:18px;
  height:18px;
}
*/